<!--
  Generated template for the TiendaForm2 page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    
  <ion-list>

    <ion-list-header color="primary">

      <h2 no-margin>Mi negocio</h2>
      <p color="light">ubicación</p>

      <button ion-button icon-only item-left no-margin clear color="white" (click)="volver()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>       

      <span item-right *ngIf="nuevo == 1 || nuevo == 2">
        <button ion-button icon-only no-margin clear color="light" (click)="cancelar()">
          <ion-icon name="close"></ion-icon>
        </button>       
      </span>

    </ion-list-header>
  
    <ion-item padding-right>
      <ion-label floating>Calle</ion-label>
      <ion-input [(ngModel)]="calle" (input)="verificaLlenado()" type="text"></ion-input>
    </ion-item>

    <ion-grid no-padding padding-right>
      <ion-row>
        <ion-col width-33 no-padding>
          <ion-item>
            <ion-label floating>No. Ext.</ion-label>
            <ion-input [(ngModel)]="num_e" (input)="verificaLlenado()" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-33 no-padding>
          <ion-item>
            <ion-label floating>No. Int.</ion-label>
            <ion-input [(ngModel)]="num_i" (input)="verificaLlenado()" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-33 no-padding>
          <ion-item no-margin>
            <ion-label floating>C.P.</ion-label>
            <ion-input no-margin [(ngModel)]="cp" (input)="verificaLlenado()" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item padding-right>
      <ion-label floating>Colonia</ion-label>
      <ion-input [(ngModel)]="colonia" (input)="verificaLlenado()" type="text"></ion-input>
    </ion-item>
    <ion-item padding-right>
      <ion-label floating>Municipio</ion-label>
      <ion-input [(ngModel)]="municipio" (input)="verificaLlenado()" type="text"></ion-input>
    </ion-item>
    
    <ion-grid no-padding padding-right>
      <ion-row>
        <ion-col width-50 no-padding>
          <ion-item>
            <ion-label floating>Pais</ion-label>
            <ion-select [(ngModel)]="pais" (ionChange)="verificaLlenado()">
              <ion-option value="mexico" selectedText="México">México</ion-option>
            </ion-select>
          </ion-item>          
        </ion-col>
        <ion-col width-50 no-padding>
          <ion-item>
            <ion-label floating>Estado</ion-label>
            <ion-select [(ngModel)]="estado" (ionChange)="verificaLlenado()">
              <ion-option *ngFor="let estadoS of estados" value="{{estadoS}}">{{estadoS}}</ion-option>
            </ion-select>
          </ion-item>          
        </ion-col>
      </ion-row>
    </ion-grid>


    
  </ion-list>
  
</ion-content>

<ion-footer text-right padding>

    <button ion-button no-margin small icon-right (click)="siguiente()" [disabled]="buttonDisabled">
      {{txtBtn}}<ion-icon name="arrow-forward"></ion-icon>
    </button>

</ion-footer>